.main1 {
    scroll-behavior:smooth;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #333;
    --header-fixed-height: 90px;
}

html {
    scroll-behavior:smooth;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 98px;
    height: 50px;
    padding: 0 16px;
    border-radius: 12px;
    background-color: #0F1B4C;

    font-size: 1.3rem;
    font-weight: 500;
    color: #FFFFFF;
}

.btn:hover {
    opacity: 0.9;
}

.content-sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #000339;
}

.content-title-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #5A6473;
}

.line-clamp {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
}

/* Header */


.header-fixed {
    display: flex;
    align-items: center;
    height: var(--header-fixed-height);
    padding-top: 26px;
    position: sticky;
    top:-26px;
    z-index: 100;
    background-color: #E6F0FF;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar__logo {
    margin-right: 50px;
}

.nav-list {
    display: flex;
}


.nav-list a {
    display: inline-block;
    height: 21px;
    padding: 0 14px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #4F5361;
}

.nav-list a:hover {
    text-decoration: underline;
}

.actions {
    display: flex;
    margin-left: auto;
}

.actions .sign-in {
    display: flex;
    align-items: center;
    margin-right: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #0F1B4C;
}

.actions .sign-up {
    height: 40px;
    border-radius: 8px;
    font-size: 1.4rem;
}

/* hero */
.hero {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: calc(100vh - var(--header-fixed-height));
    background-color: #E6F0FF;
}

.hero .info {
    width: 51%
}

.hero .sub-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 6.3rem;
    line-height: 7.6rem;
    color: #000336;
}

.hero .desc {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #5A6473;
}

.hero-btn {
    min-width: 170px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: 65px;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* clients */
.clients {
    margin-top: 79px;
    margin-bottom: 40px;
    padding-top: 43px;
    padding-bottom: 10px;
}

.clients .stars {
    display: flex;
    align-items: center;
}

.clients .stars img:not(:first-child) {
    margin-left: 4px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients .desc {
    margin-top: 23px;
}

.clients .desc p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #7D8589;
}

.clients .company {
    margin-top: 70px;
}

.clients .company .company-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 91px;
    border-radius: 8px;
}

.clients .company .company-link:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Guides */
.guides {
    padding-top: 93px;
    padding-bottom: 79px;
    margin-bottom: 41px;
    text-align: center;
}

.guides .content-sub-title {
    margin-bottom: 20px;
}

.guides .content-sub-title::before {
    content: "";
    width: 41px;
    height: 4px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #000339;
    border-radius: 12px;
}

.guides .content-title-desc {
    width: 459px;
    margin: 0 auto;
}

.list-guides {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin-left: 70px;
    margin-right: 70px;
}

.guide-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.2rem;
    color: #3B3C45;
}

.link {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #0689FF;
}

.link span {
    margin-right: 8px;
}

.guide-btn {
    margin-top: 50px;
}

.guide-btn .btn {
    min-width: 170px;
}

/* featured */
.featured {
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #F5FAFE;
}

.featured .content-sub-title {
    margin-bottom: 15px;
}

.featured .link {
    font-size: 1.8rem;
}

.featured .list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 70px;
}

.featured .item {
    flex: 1;
    background: #FFFFFF;
    border-radius: 12px;
}

.featured .thumb {
    display: block;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .body {
    padding: 17px 20px 24px 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.featured .title {
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #000339;
}

.featured .desc {
    display: -webkit-box;
    --line-clamp: 3;
    word-break: break-word;
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #A3A6AB;
}

.featured .info {
    display: flex;
    align-items: center;
}

.featured .info-item {
    display: flex;
    align-items: center;
}

.featured .info-item:not(:first-child) {
    margin-left: 22px;
}

.featured .info-icon {
    margin-right: 8px;
}

.featured .info-label {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

/* stats */
.stats {
    margin-top: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.stats .content-sub-title::before {
    content: "";
    width: 41px;
    height: 4px;
    background: #000339;
    position: absolute;
    top: -10px;
    left: 0;
    border-radius: 12px;
}

.stats .content {
    width: 1017px;
}

.stats .img-block {
    position: relative;
    width: 51%;
    text-align: right;
}

.stats .img-block .stat-image {
    width: 77%;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .info {
    width: 309px;
}

.stats .sub-title {
    width: 269px;
    margin-bottom: 20px;
    line-height: 4.5rem;
}

.stats-trend {
    width: 239px;
    background: #FFFFFF;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
    position: absolute;
    top: 0;
    left: 0;
}

.stats-trend .value {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .desc {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #A7A7A7;
    text-align: initial;
}

.stats-trend .seperate {
    margin-bottom: 25px;
    width: 100%;
    height: 1.2px;
    background: #E9E9E9;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    text-align: initial;
    gap: 16px 14px;
}

.stats .avatar-block .avatar-group {
    display: flex;
}

.stats .avatar-block .avatar {
    display: block;
    width: 16.34px;
    height: 16.34px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
}

.stats .avatar-block div.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color, #fff);
    font-weight: 450;
    font-size: 0.7rem;
    line-height: 0.9rem;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.stats .avatar-block .avatar:not(:first-child) {
    margin-left: -3px;
}

.stats-number {
    margin-top: 110px;
}

.stats-number:first-child {
    margin-left: 32px;
}

.stats-number .number {
    display: block;
    margin-bottom: 22px;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 6.4rem;
    color: #000000;
}

.stats-number .desc {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #7B8087;
}


.subscription {
    padding-top: 39px;
}

.subscription .body {
    height: 370px;
    position: relative;
    display: flex;
    background-color: #063183;
    border-radius: 20px;
    padding: 110px 0 110px 80px;
}

.subscription .info {
    width: 501px;
}

.subscription .image {
    position: absolute;
    top: -38px;
    right: 221px;
}

.subscription .sub-title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;

    font-weight: 600;
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.subscription .desc {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;

    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #FFFFFF;
    opacity: 0.75;
}

.subscription .btn-sub {
    background-color: #FFFFFF;
    color: #002366;
    min-width: 151px;
}

/* Footer */

.footer {
    margin-top: 55px;
    padding-top: 50px;
    padding-bottom: 58px;
}

.footer .row {
    align-items: initial;
}

.footer .row .col {
    width: 23.15%;
}

.footer .heading {
    font-family: 'Lato', sans-serif;
    margin-bottom: 42px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #1C1C1D;
}

.footer .item,
.footer .item a {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #7A7A7E;
}

.footer li.item:not(:last-child) {
    margin-bottom: 18px;
}

.footer p.item {
    margin-bottom: 40px;
    line-height: 2.8rem;
}

.footer .socials {
    display: flex;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin-right: 16px;
    border-radius: 6px;
    background-color: #F9F9F9;
    color: #646464;
}

.footer .social-link:hover {
    background-color: #f2f2f2;
}

.footer .copyright {
    align-items: center;
    margin-top: 81px;
}

.copyright .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #C2C2C2;
}